<main id="main">

  
    <section id="volunteer" class="resume">
     <div class="container">
       <div class="section-title ">
         <h2>Volunteering</h2>
       </div>
 
       <div class="row">
         <div class="col-lg-12">
           <!-- <h3 class="resume-title">Summary</h3> -->
           <div class="resume-item pb-0">
             <h4>Founder</h4>
             <h5>Dynamics</h5>
             <h5>Oct 2019 - Aug 2022 · 2 yrs 8 mos</h5>
             <ul>
               <li>Established Dynamics (Project Oriented Community), a multidisciplinary technical group under Department of CSE. Chief Organizer for Dynamic Hack 2021, a 48 hours national level virtual hackathon held on 12 and 13 July, 2021.</li>
 
               
             </ul>
           </div>
           <div class="resume-item ">
             <h4>Senior Member</h4>
             <h5>Sigma Newsletter Department</h5>
             <h5>Apr 2018 - Aug 2022 · 4 yrs 4 mos</h5>
             <ul>
               <li>As a part of Sigma Newsletter Club of CSE, wrote articles for Open Source and Linux section of the newsletter.
               </li>
 
               
             </ul>
           </div>
 
 
         </div>
     </div>
     </div>
   </section>
 
 
   
   <!--volunteering end -->
   </main>