<!-- <div class="container-fluid">

    <section class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container">
            <h1>Akash Ranjan Das</h1>
            <p>
                <span class="typed" data-typed-items="Software Developer,Java,Spring Boot"></span>
            </p>
        </div>
    </section>

    <section class="about">
        <p>
            Experienced Full Stack Developer with nearly 2 years of expertise in designing and developing enterprise-grade software solutions using Java, Spring Boot, Hibernate, Microservice architecture, and Unix environments. Proven ability to deliver robust, scalable applications while adhering to best practices and industry standards. Seeking opportunities to further expand my skills and contribute to innovative projects in a collaborative team environment.
    
        </p>
    
        
        <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>City:</strong> <span>Bangalore</span>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Degree:</strong> <span>BE Computer Science and Engineering</span>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Skills:</strong> <span>Core Java, Spring Boot, Hibernate, Microservices, PostgreSQL, Data Structures and Algorithms, Design Patterns and Unix.</span>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Email:</strong>
                  <span>ard.work2022gmail.com</span>
                </li>
              </ul>
            </div>
            
        </div>
    </section>
</div> -->


<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container">
      <h1>Akash Ranjan Das</h1>
      <p>
        
        <span class="typed" data-typed-items="Software Developer,Java,Spring Boot"></span>
      </p>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About</h2>
          <!-- <p>
            Experienced Full Stack Developer with nearly 2 years of expertise in designing and developing enterprise-grade software solutions using Java, Spring Boot, Hibernate, MVC architecture, and Unix environments. Proven ability to deliver robust, scalable applications while adhering to best practices and industry standards. Seeking opportunities to further expand my skills and contribute to innovative projects in a collaborative team environment.
          </p> -->
        </div>

        <div class="row">
          <!-- <div class="col-lg-12">
            <img src="assets/img/Akash.jpg" class="img-fluid" alt="" />
          </div> -->
          <div class="col-lg-12 content">
            <!-- <h3>Associate Software Engineer</h3> -->

            <div class="row">
              <div class="col-lg-6">
                <p>
                  Experienced Full Stack Developer with nearly 2 years of expertise in designing and developing enterprise-grade software solutions using Java, Spring Boot, Hibernate, MVC architecture, and Unix environments. Proven ability to deliver robust, scalable applications while adhering to best practices and industry standards. Seeking opportunities to further expand my skills and contribute to innovative projects in a collaborative team environment.
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>City:</strong> <span>Bangalore, India</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>Degree:</strong> <span>B.E. Computer Science and Engineering</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>Skills:</strong> <span>Core Java, Spring Boot, Hibernate, Microservices, PostgreSQL, Data Structures and Algorithms, Design Patterns, Secure Coding Standards and Unix.</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>Email:</strong>
                    <span><a href="ard.work2022@gmail.com">ard.work2022&#64;gmail.com</a></span>
                  </li>
                </ul>
              </div>
              
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->
  </main>