<main id="main">
    <section id="resume" class="resume">
        <div class="container">
            <div class="section-title">
                <h2>Education</h2>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Bachelor Of Engineering</h4>
                            <h5>2018-2022</h5>
                            <p><em>Siddaganga Institute Of Technology,Tumakuru</em></p>
                            <p>Computer Science and Engineering</p>
                            <p>CGPA: 7.81</p>
                        </div>
                        <div class="resume-item">
                            <h4>ISC XII</h4>
                            <h5>2015-2017</h5>
                            <p><em>Rajendra Vidyalaya, Jamshedpur</em></p>
                            <p>Pure Science with Computer Applications</p>
                            <p>Percentage: 85%</p>
                        </div>
                        <div class="resume-item">
                            <h4>ICSE X</h4>
                            <h5>2015-2017</h5>
                            <p><em>Rajendra Vidyalaya, Jamshedpur</em></p>
                            <p>Science with Computer Applications</p>
                            <p>Percentage: 89%</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
</main>