<main id="main">
    <!--Certifications-->
        <section id="certifications" class="certify">
            <div class="container">
                <div class="section-title">
                    <h2>Licenses & Certifications</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6">

                        <div class="certify-item">

                            <h4>Java 8 for Professionals</h4>
                            <h5>LinkedIn</h5>
                            <h5>Issued April 2024 . No Expiration Date</h5>

                            <ul>
                            <li>
                            Credential: <a href="https://www.linkedin.com/learning/certificates/9a9145c5188cb23522e995076f2b02c2dcb08c118958673011275a71e0d0c76d?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BEJ7mwIacQ22GHot3HbpvZQ%3D%3D">Click here</a>
                            </li>

                            </ul>
                        </div>

                        <div class="certify-item">

                            <h4>Advanced Java Programming</h4>
                            <h5>LinkedIn</h5>
                            <h5>Issued February 2024 . No Expiration Date</h5>

                            <ul>
                            <li>
                            Credential: <a href="https://www.linkedin.com/learning/certificates/5812310c2be1b8bde7580cf6fcb57b47f5bfe973daa49b3113136c213ff221de?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3Br7YeE%2FiDRPq3sAxOfaJ3yg%3D%3D">Click here</a>
                            </li>

                            </ul>
                        </div>

                        <div class="certify-item">

                            <h4>Functional Programming in Java</h4>
                            <h5>LinkedIn</h5>
                            <h5>Issued February 2024 . No Expiration Date</h5>

                            <ul>
                            <li>
                            Credential: <a href="https://www.linkedin.com/learning/certificates/b733e68e8dedc85c2bf6c934b6ac59d7c100b21e0a573c9bc90e5af3246976b5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3Br7YeE%2FiDRPq3sAxOfaJ3yg%3D%3D">Click here</a>
                            </li>

                            </ul>
                        </div>

                        <div class="certify-item">

                            <h4>Spring Boot 2.0 Essential Training</h4>
                            <h5>LinkedIn</h5>
                            <h5>Issued February 2024 . No Expiration Date</h5>

                            <ul>
                            <li>
                            Credential: <a href="https://www.linkedin.com/learning/certificates/58d80e2dfed5d6effa0623cd49473647ad95cf78deae8668c1a89ca5a83e04fa?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3Br7YeE%2FiDRPq3sAxOfaJ3yg%3D%3D">Click here</a>
                            </li>

                            </ul>
                        </div>

                        <div class="certify-item">

                            <h4>Typescript Essential Training</h4>
                            <h5>LinkedIn</h5>
                            <h5>Issued May 2023 . No Expiration Date</h5>

                            <ul>
                            <li>
                            Credential: <a href="https://www.linkedin.com/learning/certificates/74ab5eef895f4dc3f2cd60b785403a5944104358e31a499de60fa399f7d81cd5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BWzxqmv09QUa8apQsnvU5RA%3D%3D">Click here</a>
                            </li>

                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-6">

                        

                        <div class="certify-item">
                            <h4>Building Java MicroServices with gRPC</h4>
                            <h5>LinkedIn</h5>
                            <h5>Issued Feb 2023 . No Expiration Date</h5>
                            <ul>

                            <li>
                            Credential: <a href="https://www.linkedin.com/learning/certificates/7627eb2debfba25005a86d1f3529010a5dd38044f38d59554f5a19d252e40cdc">Click here</a>
                            </li>

                            </ul>
                        </div>

                        <div class="certify-item">
                            <h4>Angular Essential Training</h4>
                            <h5>LinkedIn</h5>
                            <h5>Issued Aug 2022 . No Expiration Date</h5>
                            <ul>

                            <li>Credential: <a href="https://www.linkedin.com/learning/certificates/42cf71c07cf6dc1057a7a0f784dc864a627d5f96ddb5bd49371ab9e3e14fb8b3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BWzxqmv09QUa8apQsnvU5RA%3D%3D">Click here</a></li>

                            </ul>

                        </div>

                        <div class="certify-item">
                            <h4 >Bits and Bytes of Networking</h4>
                            <h5>Coursera</h5>
                            <h5>Issued Sept 2020 . No Expiration Date</h5>
                            <ul>
                            <li>Credential: <a href="https://www.coursera.org/account/accomplishments/verify/JK5SJ7LQET3B">Click here</a></li>
                            </ul>

                        </div>

                        <div class="certify-item">

                            <h4>Java Programming Master Class</h4>
                            <h5>Udemy</h5>
                            <h5>Issued July 2020 . No Expiration Date</h5>
                            <ul>
                            <li>Credential: <a href="https://www.udemy.com/certificate/UC-6e92e9d3-3072-45c9-af8d-81b5b77956b1/">Click here</a></li>


                            </ul>
                        </div>


                        <div class="certify-item">

                            <h4>Coding (Java, C, C++, SQL)</h4>
                            <h5>HackerRank</h5>
                            <h5>Issued Jun 2020 . No Expiration Date</h5>

                            <ul>

                            <li>Credential: <a href="https://www.hackerrank.com/profile/Dynamic15CODER">Click here</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>