<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h2>Work Experience</h2>
        </div>

        <div class="row">
          <div class="col-lg-12" >
             <div class="resume-item">
              <h4>Associate Software Engineer</h4>
              <h5>July 2022 - Present</h5>
              <p><em><a href="https://www.microfocus.com/en-us/home">MicroFocus(now OpenText),Bangalore,India</a> </em></p>
              <ul>
                <li>
                  Developed REST API endpoints using Java, Design Patterns, Spring Boot, and Hibernate, focusing on editing any documents using native application installed by storing the files in the local system temporarily, and improved editing performance by more than 60%.
                </li>
                <li>
                  Conducted thorough root cause analysis (RCA) and resolved critical security defects using Core Java and Multithreading concepts, maintaining secure coding standards. The security report showed a 100% result, and received recognition for the same.
                </li>
                <li>
                  As part of the R&D team, took charge of designing and implementing one important feature that focused on creating profiles for metadata of customer records using the Spring Boot framework. Designed and developed the entire frontend using TypeScript and Knockout JS. Faced major challenges in retrieving data from the database. Used local caching techniques with Java and reduced the complexity of the feature by 70%.

                </li>
                <li>
                  Took ownership of integrating OneDrive with the document edit feature for the product using Java and Spring Boot, replacing the old legacy code structure. Received good feedback from customers regarding the improved performance of the existing feature.
                </li>
                <li>
                  As a part of Hackathon project refactored crucial modules of the product and transforming into a highly efficient microservice architecture using Spring Boot and JPA. This strategic overhaul yielded a 30% improvement in system performance and scalability, leading to management’s decision to adopt microservices for additional features.
                </li>
                <li>
                  Proficient in shell scripting for a variety of tasks, encompassing memory management, monitoring, and automation. Demonstrates adeptness in the Unix environment, with extensive comfort and expertise.
                </li>
                <li>
                  <b>Tech Stack:</b> Core Java, Spring Boot, Hibernate, MVC, Microservices, API Development, C++, PostgreSQL, Microsoft
SQL Server, Microsoft Azure, Typescript, Git and Unix.

                </li>
              </ul>
            </div>
             <div class="resume-item">
              <h4>Software Developer Intern</h4>
              <h5>March 2022 - July 2022</h5>
              <p><em><a href="https://www.zscaler.com">Zscaler,Bangalore,India</a> </em></p>
              <ul>
                <li>
                  Completed a 2-month training program that covered Jenkins, Docker, Kafka, Secure App Development, Linux, AWS, and Networking.
                </li>
                <li>
                  Single handedly implemented the backend of the training project using Java, Spring Boot, Hibernate and Spring Security. maintaining secure coding standards and scanned using Coverity tool for any security vulnerability.
                </li>
                <li>
                  Analyzed and resolved basic security defects through root cause analysis (RCA) utilizing Core Java concepts and the Jersey framework and collaborated closely with the development team to bolster security measures.
                </li>
                <li>
                  <b>Tech Stack:</b> Core Java, Secure Coding, Jerseys, Spring Boot, Hibernate, Unix, Tomcat, Git, Coverity.
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Resume Section -->

    
   

  
  <!--volunteering end -->
  </main>